:root {
  font-family: "Poppins", Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

input {
  outline: none;
  border: none;
}

#root {
  height: 100%;
}
